/*  your css code here. If applicable */

table{
	border: 1px solid orange;
  border-collapse: collapse;
	width: 100vw;
	margin: 0px 0px 1px 1px;
}

th{
	background-color: #888888;
	color: white;
}

td, th{
	text-align: center;
	border:1px;
	border-style:solid;
	border-color: orange;
	margin: 0px 0px 1px 1px;
	/* box-shadow: 0 0 1px 1px orange; */
}

.sub-total-text{
	text-align: right;
}

